@using Econocom.Resource
@model Infrastructure.DTO.ErrorDisplay
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/Maquette/_Layout_Info1.cshtml";
}
<h1>@Traduction.Erreur403_Titre</h1>

<hr />
    
<div style="padding: 10px;">
    <p>
        @Traduction.Erreur403_Info
    </p>
   
    <p>
        @Traduction.Erreur403_Detail
    </p>
    
</div>
