<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.2.2" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="iTextSharp" version="4.1.2" targetFramework="net40" />
  <package id="NLog" version="3.2.0.0" targetFramework="net40" />
  <package id="RazorPDF" version="1.0.0" targetFramework="net40" />
  <package id="Rotativa" version="1.6.1" targetFramework="net40" />
  <package id="ValueInjecter" version="2.3.3" targetFramework="net40" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net40" />
</packages>