@model IEnumerable<Econocom.Model.ViewModel.ViewModelDeviceCategory>

@foreach (var category in Model)
{   
    <div data-role="collapsible" id="my-collaspible1" class="divC">
        <h3>@Html.DisplayFor(modelItem => category.Label)
           <span style="float: right; margin-right: 150px; width:100px;" align="right">@category.Value</span>
         </h3>
     									
        @Html.Partial("Report/DeviceType", category.ViewModelDeviceTypes)                       
       	
    </div>
}