<ul id="menupage">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li><a href="http://www.econocom.com">Econocom</a></li>
    <li>@Html.ActionLink("Notre offre", "About", "Home")</li>
   
</ul>
