/* ---------------- CSS OF GREEN IT  ---------------------*/

/*DIV*/

div .Partial_Content_Div {
    float: left;
    margin-right: 20px;
    text-align: left;
}

div .Partial_Div {
    width: 870px; 
}

