@{
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
    ViewBag.Title = "RegistrationSuccess";
}

<h2>Registration Success</h2>

//Write 'Registration Success' contents here : Votre demande est en cours de moderation
