@using Econocom.Model.Models.CMS
@model IEnumerable<Econocom.Model.Models.Benchmark.Devise>
@{
    ViewBag.Title = "Traduction Devise ";
    Layout = "~/Views/Shared/_LayoutAdminTraduction.cshtml";
    
}

@section Navigation {
    <nav style="float: left; background-color: #404040; width: 100%; font-size: 12px; height: 40px">
        <div style="height: 40px; margin-top: 5px; font-family: sans-serif;">@{ Html.RenderAction("Traduction", "Nav"); }</div> 
    </nav>     
}

<script type="text/javascript">
    $("#main").height('1000px');
</script>

<div style="border:solid 0px red; width:100%; height:100%;">
<div id="updateDialog" title="Entrez les données suivantes: "></div>

<script type="text/javascript">
    
</script>
<style>
    .ui-button-text-only .ui-button-text {
        padding: 0px;
        font-size: 0.8em;
    }
    
    #Sujet {
        width: 500px;
    }
    
    .input {
        width: 500px;
        border: solid 0px red;
    }
</style>
    <div class="mainDiv" style="width:100%; float:left; height:100%; min-height:450px;">
        <h2 class="HeaderTexteH2">Traduction: Devise </h2>
        <div id="tableDiv" style="margin-top:20px; border:solid 0px red; height:450px;">
            <table class="contenuMailTable" width="100%">
                <tr>
                    <td>
                        <h2 style="text-align: left; font-size:1.5em; padding:0px;"></h2>
                    </td>
                    <td>
                        <div id="result" style="display:block; width:400px;">
                            &nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="width:230px;">
                        <div id="treeContenuDivPartial" class="treeContenuDiv" style="width:220px; height: 450px; float:left; overflow-y: scroll; overflow-x: auto; ">
                    
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div style="width: 200px; height: 10px; padding-bottom: 15px; margin-left: 10px;">
                                        <div style="float: left">@Ajax.ActionLink(@item.Id + "-" + @item.Libelle, "ModifierContenu", "DeviseTraduction",
                                                                                  new
                                                                                      {
                                                                                          idDevise = @item.Id,
                                                                                          idLangue = 1
                                                                                      },
                                                                                  new AjaxOptions {UpdateTargetId = "contentDivPartial"})
                                        </div>
                            
                                    </div>
                                }
                            } 
                        </div>
                    </td>

                    <td valign="top" style="vertical-align:top">                              
                        <div id="contentDivPartial" class="contentDiv" style="width:100%; height: 100%; overflow: auto; border-color:#c0c0c0;border-style:solid;border-width:0px;background-color:#eee;"></div>
                    </td>
                </tr>
            </table>  
        </div>
    </div>
</div>
