<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LienFichiers" value="E:\WattsFiles\FICHIER_INITIAL\" />
    <add key="LienInitial" value="E:\WattsFiles\FICHIER_INITIAL\" />
    <add key="LienTraitement" value="E:\WattsFiles\EN_TRAITEMENT\" />
    <add key="LienImportWatt" value="E:\WattsFiles\IMPORT_WATT\" />
    <add key="LienFichierTraiteOk" value="E:\WattsFiles\FICHIER_TRAITE_OK\" />
    <add key="LienFichierTraiteKo" value="E:\WattsFiles\FICHIER_TRAITE_KO\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MailServer" value="mail.astek.mu" />
    <add key="MailPort" value="25" />
    <add key="MailUserName" value="rkhoodeeram@astek.mu" />
    <add key="MailUserPassword" value="AstekMU2013" />
    <add key="MailSender" value="rkhoodeeram@astek.mu" />
    <add key="ServerAddress" value="http://localhost:45265" />
    <add key="Interval" value="0 0/1 * 1/1 * ? *" />
  </appSettings>
  <connectionStrings>
    <add name="EconocomContext" connectionString="Data Source=ASTEKLT101\WATTSGREEN;Initial Catalog=wattsgreen_dev;User ID=sa;Password=@stek_2015;MultipleActiveResultSets=True;Connect Timeout=300" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
