@{
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
    ViewBag.Title = "RegistrationSuccess";
}

<h2>Password Reset</h2>

<div> @Html.ActionLink("Redirect to Password Page", "Password", "Account") </div>