<h2>TestViewWithModel</h2>

<fieldset>
    <legend>TestViewModel</legend>
    <img src="http://localhost:65108/Content/images/MonSI/MainImage.jpg"/>
    <div class="display-label">DocTitle</div>
    <div class="display-field">
       dasdasdasd
    </div>

    <div class="display-label">DocContent</div>
    <div class="display-field">
        adasdasd
    </div>
</fieldset>
<p>
   asdasdasdasd
</p>
