
<h2>TestViewWithModel</h2>
 <img src="http://localhost:2350/Content/images/MonSI/MainImage.jpg"/>  
<fieldset>
    <legend>TestViewModel</legend>
     <img src="http://localhost:2350/Content/images/MonSI/MainImage.jpg"/>    
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
