@using System.Web.Mvc
@using System.Web.Mvc.Html
@model Econocom.Model.Models.Benchmark.Politique
@using Conso = Econocom.Resource.Traduction

@{
    ViewBag.Title = "DetailPolitique";
}

<h2>DetailPolitique</h2>

<div>
    @Model.DetaillePolitique
</div>
