<p>
    <img alt="" src="/uploads/Logo.PNG" alt="" /><br />
    <br />
    Puteaux, le xxDate</p>
<p>
    Madame, Monsieur</p>
<p>
    Nous vous remercions de l&#39;int&#233;r&#234;t que vous portez &#224; l&#39;application
    WATT&#39;S GREEN.&nbsp;</p>
<p>
    Nous avons noté votre demande de souscription du xxDate à xxTime (heure française)
    dont vous trouverez ci-après le détail :&nbsp;</p>
<div style="border: #cccccc thin solid; width: 550px;">
    <div style="margin: 10px; width: 500px;">
        <table>
            <tr>
                <td colspan="3" style="width: 500px;">
                    <img alt="" src="/uploads/rond_1.png" />
                    <strong><span style="font-size: 16px">xxSociete</span></strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold;">
                    xxLblRaisonSociale <span style="color: #99cc00">*</span>
                </td>
                <td style="font-weight: bold;">
                    xxLblGroupe
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="border: #cccccc thin solid;">
                        xxRaisonSociale</div>
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxGroupe</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 250px; font-weight: bold;">
                    xxLblAdressex <span style="color: #99cc00">*</span>
                </td>
                <td style="font-weight: bold;">
                    xxLblPays <span style="color: #99cc00">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="border: #cccccc thin solid; height: 70px;">
                        xxAdressex</div>
                </td>
                <td valign="top">
                    <div style="border: #cccccc thin solid;">
                        xxPays</div>
                </td>
            </tr>
            <tr>
                <td style="width: 100px; font-weight: bold;">
                    xxLblCP <span style="color: #99cc00">*</span>
                </td>
                <td style="width: 150px; font-weight: bold;">
                    xxLblVille <span style="color: #99cc00">*</span>
                </td>
                <td style="font-weight: bold;">
                    xxLblIdentificationNational
                </td>
            </tr>
            <tr>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxCP</div>
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxVille</div>
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxIdentificationNational</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 250px; font-weight: bold;">
                    xxLblTVA
                </td>
                <td style="font-weight: bold;">
                    xxLblChiffreAffaires
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="border: #cccccc thin solid;">
                        xxTVA</div>
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxChiffreAffaires</div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 500px;">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 500px;">
                    <img alt="" src="/uploads/rond_2.png" />
                    <span style="font-size: 16px"><strong>xxSouscripteur</strong></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold;">
                    xxLblNomx <span style="color: #99cc00">*</span>
                </td>
                <td style="font-weight: bold;">
                    xxLblPrenom <span style="color: #99cc00">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="border: #cccccc thin solid;">
                        xxNomx</div>
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxPrenom</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold;">
                    xxLblFonction <span style="color: #99cc00">*</span>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="border: #cccccc thin solid;">
                        xxFonction</div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold;">
                    xxLblAdresseMail <span style="color: #99cc00">*</span>
                </td>
                <td style="font-weight: bold;">
                    xxLblTelephone <span style="color: #99cc00">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="border: #cccccc thin solid;">
                        xxAdresseMail</div>
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxTelephone</div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 500px;">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 500px;">
                    <img alt="" src="/uploads/rond_3.png" /><span style="font-size: 16px"><strong>xxAbonnement</strong></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold;">
                    xxLblNombreDevices
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxNombreDevices</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold;">
                    xxLblRedevanceAnnuelle
                </td>
                <td>
                    <div style="border: #cccccc thin solid;">
                        xxRedevanceAnnuelle</div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <br />
    </div>
</div>
<br />
<img alt="" src="/uploads/Signature.PNG" />&nbsp;&nbsp;&nbsp;
<div style="direction: rtl">
    &nbsp;&nbsp;<img alt="" src="/uploads/Link.PNG" /></div>
