@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GreenITLayout.cshtml";

}

    
	<div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">

            <div data-thumb="../images/slides/thumbs/bridge.jpg" data-src="/Content/images/testingPicture.jpg">
                <div class="camera_caption fadeFromBottom">
                    Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em>
                </div>
            </div>
            <div data-thumb="../images/slides/thumbs/leaf.jpg" data-src="/Content/images/fr.jpg">
                <div class="camera_caption fadeFromBottom">
                    It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
                </div>
            </div>
            <div data-thumb="../images/slides/thumbs/road.jpg" data-src="/Content/images/en.jpg">
                <div class="camera_caption fadeFromBottom">
                    <em>It's completely free</em> (even if a donation is appreciated)
                </div>
            </div>
           
        </div><!-- #camera_wrap_1 -->

    
    </div><!-- .fluid_container -->
    
    <div style="clear:both; display:block; height:100px"></div>