
           
@{
    Layout = "~/Views/Shared/_TinyMceLayout.cshtml";
}

@{
    ViewBag.Title = "TinyMce1";
}

<h2>TinyMce1</h2>

@*
@section Content1
{
    <div>
        @if (Model != null)
        {
            @Html.Raw(@Html.DisplayTextFor(model => model.Contenu).ToString())
        }
    </div>
}
*@
