<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LienInitial" value="E:\WattsFiles\FICHIER_INITIAL\" />
    <add key="LienTraitement" value="E:\WattsFiles\EN_TRAITEMENT\" />
    <add key="LienImportWatt" value="E:\WattsFiles\IMPORT_WATT\" />
    <add key="LienFichierTraiteOk" value="E:\WattsFiles\FICHIER_TRAITE_OK\" />
    <add key="LienFichierTraiteKo" value="E:\WattsFiles\FICHIER_TRAITE_KO\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="MailServer" value="mail.astek.mu" />
	<add key="MailPort" value="25" />
	<add key="MailUserName" value="rkhoodeeram@astek.mu" />
	<add key="MailUserPassword" value="AstekMU2013" />
	<add key="MailSender" value="rkhoodeeram@astek.mu" />
	<add key="ServerAddress" value="http://localhost:45265" />
  </appSettings>
  <connectionStrings>
    <!--<add name="EconocomContext" connectionString="Data Source=ASTEKLT101\WATTSGREEN;Initial Catalog=wattsgreen_dev;User ID=sa;Password=@stek_2015;MultipleActiveResultSets=True;Connect Timeout=300" providerName="System.Data.SqlClient" />-->
    <add name="EconocomContext" connectionString="Data Source=ASTEKLT96;Initial Catalog=wattsgreen_dev;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Econocom.ECSCHANGEService.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="Econocom.ECSCHANGEService.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Econocom.ECSCHANGEService/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>