<ul id="menupage">
    <li>@Html.ActionLink("Mon Profil", "MonProfil", "Contact")</li>    
    <li>@Html.ActionLink("Mon SI", "MonSI", "Contact")</li>
    <li>@Html.ActionLink("Administation Pages", "Pages", "Section", new { area = "Admin" }, null)</li>   
    <li>@Html.ActionLink("Administation Objets", "Index", "TypeObjet", new { area = "Admin" }, null)</li>   
</ul>
