<ul id="menupage">
    <li>@Html.ActionLink("Mon Profil", "MonProfil", "Contact")</li>    
    <li>@Html.ActionLink("Mon SI", "MonSI", "Contact")</li>
    <li>@Html.ActionLink("Mes simulations", "Index", "Simulateur")</li>   
</ul>
