<tr>
    <td>
       Libelle Pays
    </td>
    <td>
        Coefficient conversion
    </td>
    <td>
        Date Debut
    </td>
    <td>
    Date Fin
    </td>    
    <td class="bcol">
    </td>
    <td class="bcol">
    </td>
</tr>
