<div style="float:left;">
     <ul id="footerList">
        <li>
          &copy 2013 Econocom
        </li>
    </ul>
</div>
<div style="float:right;">
    <ul id="footerList">
        <li>
           @Html.ActionLink("Contact", "Create", "Support")
        </li>
    </ul>
</div>
