<div style="width:1027px; float:right; min-height:100px; border:solid 1px orange;">   
        <div id="header" style="width:100%; min-height:60px; padding-top:10px; margin:auto; ">
             @Html.Partial("_LogOnPartial")
    </div>     
    <div id="content" style="width:100%;min-height:30px;background-color:black; padding-top:10px; margin:auto; border:solid 0px blue;"> 				
        <div style="width:20.9em;float:right;color:white; height:25px">
            <div style="height:20px">
                dasdas
            </div>           
        </div>
        <div style="width:20.9em;float:right;color:white; height:25px">
            <div style="height:20px">
                dasdas
            </div>           
        </div>	
        <div style="width:20.9em;float:right;color:white; height:25px">
            <div style="height:20px">
                dasdas
            </div>            
        </div>		
    </div>	
 				
</div>