@{
    ViewBag.Title = "_PopupTemplate";
}

<div data-role="header" data-theme="a" class="ui-corner-top">
    <h1>Rules and Regulations</h1>
</div>

<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
    <h3 class="ui-title">TO WHOM IT MAY CONCERN</h3>
    <p>Please read the following carefully before proceeding with the registration</p>
    //Contents of the Rules and Regulations found at VIews/Shared/_PopupLayout
</div>