@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacte</h2>
<center>
    <div id="contentDivPartial" class="contentDiv" style="width:850px; height: 510px;">
        @Html.Partial("PartialViewOne")
    </div>
</center>