@{
    ViewBag.Title = "PartialView";
}



<div id="mainDiv">
    
   

       <div align="right" style="width:850px; height: 30px;">
        @Ajax.ActionLink("Modifier", "PartialViewTwo", "Ztesting",
                         new
                             {
                            
                             },
                         new AjaxOptions { UpdateTargetId = "contentDivPartial" })
            

    </div>
    
    <div style="width:850px; height: 470px; border: 1px solid gray">

       Nom COntact

        
    </div>
    
    


</div>


