@using Econocom.Model.ViewModel
@model Econocom.Model.ViewModel.ClientBenchmarkViewModel
           
@{
    ViewBag.Title = "Edit";
}

<h2>Index</h2>

@*http://jquerymobile.com/demos/1.2.1/docs/content/content-collapsible.html*@

<div style="width:1100px; height:900px;">
    <p>Enter client benchmark details : </p>
    <div style="width: 1080px; height:800px;">
        @using (Html.BeginForm())
        {
            <div style="width: 1080px; height:800px; overflow-y: scroll;">
                @Html.Partial("Families", Model)    
            </div>    
            
            <p style="width:120px; height:50px; font-size:20px; z-index: 10000">
                <input type="submit" value="Save" style="padding:0 !important;" />
            </p>            
        }                             
    </div>    
</div>