@using Econocom.Model.ViewModel
@model Econocom.Model.ViewModel.ClientBenchmarkViewModel
           
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="width:800px">
    @using (Html.BeginForm("UpdateContent", "Family", FormMethod.Post))
    {
         if (Model != null && Model.ViewModelDeviceFamilies != null)
         {
             
            
             
         }
        
    }
</div>