<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="EntityFramework" version="4.3.1" targetFramework="net40" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.UI.Core" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.UI.Core.Position" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.UI.Core.Widget" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.UI.Widgets.Dialog" version="1.8.9" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="1.7" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="TinyMCE" version="3.5.8" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" />
  <package id="Unity" version="2.1.505.2" />
  <package id="Unity.Mvc3" version="1.2" />
  <package id="Unity.Mvc3" version="1.2" />
</packages>